body {
  background-color: lightblue;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2rem; */
}


.description-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #d10024;
}

.description-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  /* margin-bottom: 1rem; */
}

.play-button {
  background-color: lightgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2rem;
}

.play-button:hover {
  background-color: darkgreen;
}
