/* Login.css */
.login-page {
  background-position: center;
  background-color: #1965cf;
  background-repeat: no-repeat;
  background-size: 27%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  padding: 2rem 2rem 0; /* Add top padding to move content up */
}

.login-page h1 {
  font-size: 72px;
  text-align: center;
  margin-top: 0; /* Remove top margin */
  color: #fff;
}

.login-form {
  background-color: rgba(170, 166, 168, 0.5);
  border-radius: 20px;
  padding: 2rem;
  width: 250px;
  max-width: 80%;
  margin-top: 1rem; /* Adjust top margin */
}

.login-form label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  display: block;
}

.login-form input {
  margin-bottom: 16px;
  width: calc(100% - 30px); /* Calculate the width based on the icon width */
  padding: 12px 40px 12px 12px; /* Adjusted padding for the icon */
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.login-form .eye-icon {
  position: absolute;
  /* right: 5px;
  top: 50%; */
  
  transform: translateY(-50%);
  cursor: pointer;
  /* margin-left: 20px; */
}

.sign-button {
  border-radius: 25px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  width: 20%;
  margin-left: 60px;
}
/* Login.css */
.register-text {
  font-size: 15px; /* Updated font size */
  color: rgb(13, 13, 13);
  margin-top: -10px; /* Adjust the margin to move closer to the password field */
  text-align: center;
  cursor: pointer;
}


.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  padding-left: 10px;
}